@import '../../Colors.scss';


.HeaderMain {

    height: 15%;
    width: 100%;

}

.input-group {

    width: 20%;
    
    .form-control {
        
        background-color: $lemon;
    }
}

.LogoHeader {

    width: 15%;

    .LogoImg {

        width: 80%;
        padding-left: 3em;

    }
}

.AvatarHeader {

    width: 20%;
    height: 100%;
    padding-right: 5em;


    .UserNameHeader {

        font-family: 'Gotham', sans-serif;
        font-weight: 700;
        color: white;
        padding-right: 1em;
        margin: 0px;
    }
}

