@import '../../Colors.scss';


.HeaderMain {

    height: 10%;

}

.input-group {

    width: 30%;
}

.LogoHeader {

    width: 20%;

    .LogoImg {

        width: 70%;
        padding-left: 3em;

    }
}

