@import './Colors.scss';

body {
    overflow: hidden;
}

.App {

    width: 100vw;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;

}

.Header {

    width: 100%;
    height: 15%;
    border: 1px solid black;

}

.Switch {
    
    width: 100%;
    height: 85%;
}