@import '../../Colors.scss';

.PostDetailWrapper {

   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100vw;
   height: 100vh;

}

.HeaderPostDetail {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 50%;

}

.AvatarBox {
    display: flex;
    width: 200px;
    height: 200px;

}

.AvatarImg {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1em solid black;
    border-radius: 50%;
}

.HeaderProfile {

    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    align-items: center;
    font-family: 'Gotham', sans-serif;
    color: $xicetic;
    font-weight: 800;
    margin-left: 2em;
    
    .NameBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .NameProfile {

        color: $xicetic;
        margin: 0px;
        font-size: 3em;
        font-weight: 800;

    }

}

.PostAdd {

    .fas {
        color: $xicetic;
        font-size: 3em;
    }
}