@import '../../../Colors.scss';


.PostContentMain {

    display: flex;
    height: auto;
    width: 50%;
    margin-top: 2em;

    .PostMainLeft {
        width: 20%;
        height: auto;
    }

    .PostMainRight {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
    }

        .PostInfoLeft {
        
            display: flex;
            width: 20%;
            height: auto;
           
        }
    
        .PostPhotoBox {

            display: flex;
            width: 100%;

            .PhotoPost {

                width: 100%;
                height: auto;
    
            }
            
        }
    

    .PostInfoBottom {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;

        .PostInfoFoot {

            display: flex;
            justify-content: space-between;
            font-family: 'Gotham', sans-serif;
            font-weight: 800;
            align-items: center;
            padding-right: 2em;
            width: 100%;
            height: 100%;


            .LikesBox {

                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 20%;
                height: 100%;
                margin-left: 1em;
        

                .HeartLike {

                    font-size: 2em;
                    margin-top: 0px;
                    margin-right: 0.3em;
                    transition: $transition;
                }

                .HeartLike:hover {

                    font-size: 2.2em;
                    margin-top: 0px;
                    margin-right: 0.3em;
                    transition: $transition;
                }

                .LikesCount {

                    color: $xicetic;
                    font-size: 1.5em;
                    margin: 0px;
                    margin-left: 0.3em;

                }

            }

            .RecipeButton {
                
                all: unset;
            }
        }


    }

}


.PostTitleBox {

    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

        .PostTitle {
    
            font-family: 'Gotham', sans-serif;
            width: 70%;
            color: $xicetic;
            font-size: 1.9em;
            font-weight: 900;
            margin: 0px;
            margin-top: 1em;
            margin-bottom: 2em;

        }

}

.RecipesDetails {

    display: flex;
    width: 100%;
    height: 50px;
    font-family: 'Gotham', sans-serif;
    color: $amber;

    .RecipeDet {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        margin-right: 2em;

        i {

            font-size: 2em;
            margin-right: 0.3em;
            color: $amber;
        }

        p {
            margin: 0px;
            font-size: 1em;
            font-weight: 800;
        }
        
    }

}

.RecipeIntructions {

    display: flex;
    font-family: 'Gotham', sans-serif;
    width: 100%;
    height: auto;
    padding-bottom: 3em;
    margin-top: 1.5em;


    .HeaderRecipeIntructions {

        font-family: 'Gohtam', sans-serif;
        font-size: 1.3em;
        color: $sinopia;
        font-weight: 800;
    }


    .Ingredients {

        display: flex;
        flex-direction: column;
        color: $sinopia;
        width: 40%;
        margin: 0px;
        padding-right: 1em;
    }

    .Method {

        display: flex;
        flex-direction: column;
        padding-left: 2em;
        width: 60%;
        margin: 0px;
        border-left: 3px solid $sinopia;
    }
}

