@import '../../../Colors.scss';


.PostContentMain {

    display: flex;
    height: auto;
    width: 50%;
    margin-top: 2em;

    .PostMainLeft {
        width: 20%;
        height: auto;
    }

    .PostMainRight {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
    }

        .PostInfoLeft {
        
            display: flex;
            width: 20%;
            height: auto;
           
        }
    
        .PostPhotoBox {

            display: flex;
            width: 100%;

            .PhotoPost {

                width: 100%;
                height: auto;
    
            }
            
        }
    

    .PostInfoBottom {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;

        .PostInfoFoot {

            display: flex;
            justify-content: space-between;
            font-family: 'Gotham', sans-serif;
            font-weight: 800;
            align-items: center;
            padding-right: 2em;
            width: 100%;
            height: 100%;


            .LikesBox {

                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 20%;
                height: 100%;
                margin-left: 1em;
        

                .HeartLike {

                    font-size: 2em;
                    margin-top: 0px;
                }

                .LikesCount {

                    color: $xicetic;
                    font-size: 1.5em;
                    margin: 0px;
                    margin-left: 0.3em;

                }

            }

            .RecipeButton {
                
                all: unset;
            }
        }


    }

}


.BlankSpace {
    display: flex;
    width: 20%;
    height: 100%;

}

.PostTitleBox {

    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid black;

    .TitleBox {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 100%;

        .PostTitle {
    
            font-family: 'Gotham', sans-serif;
            color: $xicetic;
            font-size: 1.7em;
            font-weight: 900;
            margin: 0px;

        }
    }


}

