@import '../../../Colors.scss';


.ModalProfile {

    border-radius: 0px;
    
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    background-color: $xicetic;
    top: 100px;
    right: -650px;


    .close {

        color: $amber;
        font-size: 2em;
        box-shadow: none;
    }


    
.modal-header {

    border: 0px;

    .modal-title {

        font-family: 'Gotham', sans-serif;
        font-weight: 800;
        color: $amber;
        border: 0px;

    }
    
}


}

.ModalBody {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;

    a {
        all: unset;
        color: $amber;
        cursor: pointer;
        font-size: 1em;
        margin-top: 1em;
        transition: $transition;
        
    }

    a:hover {

        all: unset;
        color: $amber;
        cursor: pointer;
        font-size: 1.2em;
        margin-top: 1em;
        transition: $transition;
        
    }

    p {
        margin-bottom: 1em;
        color: $amber;

    }

    input[type=file] {
        background-color: transparent;

        color: white;
        margin-bottom: 1em;
        cursor: pointer;

    } 

}


.modal-backdrop {
    display: none;
}

.SubmitButton {

    border: 2px solid $amber;
    width: 50%;
    height: 40px;
    background-color: transparent;
    color: $amber;
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    transition: $transition;

}

.SubmitButton:hover {

    border: 2px solid $amber;
    width: 80%;
    background-color: transparent;
    color: $amber;
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    transition: $transition;
}

