@import '../../Colors.scss';


.AddPostWrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;

    .PostRecipeTitle {
        font-family: 'Gotham', sans-serif;
        width: 20%;
        line-height: 0.9em;
        color: $xicetic;
        font-weight: 800;
        font-size: 5em;
        margin: 1em;
        text-align: right;
    }
    
}

.PostForm {

    display: flex;
    font-family: 'Gotham', sans-serif;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin: 0px;

    .PickerDetails {

        display: flex;
        align-items: center;
        margin-bottom: 2em;
        width: 100%;

        p {

            margin: 0px;
            margin-right: 1em;
            
        }

        .ItemPicker {

            width: 20%;
            margin-right: 1.3em;
            transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);

        }

        .ItemPicker:hover {

            width: 23%;
            margin-right: 1.3em;
            border: 0.1em solid $sinopia;
            transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);
        }

    }

    .ant-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    input {
        margin: 0px;
    }

    .ant-row {

        display: flex;
        flex-direction: column;
    }

    .LevelChef {

        width: 50%;
    }


  
    label::after{

        all: unset;

    }

    .ant-form-item-label {

        text-align: left;
    }
}