@import '../../Colors.scss';


.HomeWrapper {

    
    width: 100%;
    height: 85%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}




.HomeBackground {

    position: absolute;
    top: -85%;
    background-image: url('/images/8122.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: visible;
    padding: 0px;
    margin: 0px;
    z-index: -1;
}

.LeftMain {

    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px solid white;

}

.HomeLogo {

    width: 35%;
    height: auto;
    margin-left: 10em;
    margin-bottom: 13em;
   
}

.RightMain {

    display: flex;
    width: 50%;
    height: 100%;
    border: 1px solid yellow;

    .AreYouHungry {
        
        font-family: 'Gotham', sans-serif;
        font-weight: 800;
    
    }
}
