@import '../../Colors.scss';


.HomeWrapper {

    
    display: flex;
    width: 100%;
    height: 85%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

.HomeBackground {

    position: absolute;
    top: -85%;
    background-image: url('/images/8122.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: visible;
    padding: 0px;
    margin: 0px;
    z-index: -1;
}

.LeftMain {

    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;

}

.HomeLogo {

    width: 35%;
    height: auto;
    margin-left: 10em;
    margin-bottom: 13em;
   
}

.RightMain {

    display: flex;
    width: 50%;
    height: 100%;

    .AreYouHungry {
        
        font-family: 'Gotham', sans-serif;
        -webkit-text-stroke-width: 2px;
        color: transparent;
        -webkit-text-stroke-color: $sinopia;
        font-size: 12em;
        line-height: 0.8em;
        font-weight: 800;
        width: 90%;
        margin-top: 0.2em;
    
    }
}
