@import '../../../Colors.scss';


.PostAllWrapper {

    display: flex;
    width: 100%;
    height: 100%;

}

.GridContainer {

    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    overflow-y: scroll;

}

.GridPosts {

    display: grid;
    box-sizing: border-box;
    justify-content: center;
    grid-template-columns: repeat(3,300px);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    width: 100%;
    height: 200px;

    
}

.NewPostContainer {

    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;


}


.GridContainer::-webkit-scrollbar {
    width: 0.7em;
}

.GridContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.GridContainer::-webkit-scrollbar-thumb {
    
    background-color: $amber;
}
