@import '../../../Colors.scss';



.RecipeCard {

    width: 100%;
    height: 100%;

}

.ImgBox {

    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
    
}

.PostImg {

    display: flex;
    width: auto;
    height: 100%;
}

.PostInfo {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding-top: 1em;
    padding-right: 1em;
    line-height: 0.9em;
    font-family: 'Gotham',sans-serif;
    text-transform: capitalize;

    .TitleName {
        display: flex;
        flex-direction: column;

        p {
            font-family: 'Gotham', sans-serif;
            color: $xicetic;
            
        }
    }

    h5 {
        
        font-size: 1.3em;
        font-weight: 900;
        text-overflow: ellipsis;
        
    }

    .PostDetail {
        display: flex;
        width: 100%;

    }

}

.RecipeDet {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin-right: 1.4em;

    i {
        font-size: 1.2em;
        margin-right: 0.3em;
        color: $amber;
    }

    p {
        margin: 0px;
        font-size: 0.9em;
        font-weight: 800;
        color: $amber;
        text-transform: uppercase;
    }
    
}